body {
    margin: 0;
    background-color: #0D1117;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.container {
    background-color: #0D1117;
    height: 50rem;
    width: 50rem;
    border-radius: 1rem;
    outline: none;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
}

.title {
    font-size: 2rem;
    color: #ffffff;
    display: flex;
    justify-self: center;
    margin: 2rem;
}

#fileInput {
    margin: 0rem 0rem 0rem 4rem;
    border-radius: 0.5rem;
    border: none;
    background-color:  rgb(212, 207, 207);
    width: 35rem;
    height: 2rem;
}

::-webkit-file-upload-button{
    height: 2rem;
    border: none;
    color: #ffffff;
    background-color: #006D32;
}

.to_send {
    border-radius: 0.5rem;
    background-color: #39D353;
    border: none;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    color: #ffffff;
}

h3 {
    margin: 1rem 0rem 0.2rem 4rem;
    color: #ffffff;
}

.base64_Element {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    justify-self: center;
    font-size: 1rem;
    width: 80%;
    height: 38rem;
    background-color: rgb(212, 207, 207);
    border-radius: 0.5rem; 
}

.base64_Output {
    margin: 0; 
    padding: 1rem;
    color: rgb(0, 0, 0);
    overflow-y:  auto;
    overflow-x:  hidden;
    width: 100%; 
    height: calc(100% - 2rem); 
    background-color:  rgb(212, 207, 207);
    border-radius: 0.5rem; 
}

/* Manipula o scrollbar da pagina  */
::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(212, 207, 207);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85);
    border-radius: 0.7rem;
  }
